*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Tilt Neon", sans-serif;
}
h1, h2, h3{
    color: #3CC47E;
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}